* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  box-shadow: 1px 1px 15px black;
  max-width: 500px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF4444;
  color: white
}

.title-logo {
  height: 50px;
  width: 50px;
}

.content {
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.info {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
}

p {
  padding-bottom: 0.5rem;
}

.location-image {
  width: 150px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid #EF4444;
}


.location-container {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.location-pic {
  width: 20px;
  height: 20px;
}

.location-link {
  margin-left: 1rem;
  font-size: 0.7rem;
  text-decoration: none;
}

.date {
  font-style: italic;
}

.desc {
  font-size: 0.9rem;
}