* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  border: 1px solid black;
  box-shadow: 1px 1px 15px black;
  max-width: 500px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF4444;
  color: white
}

.title-logo {
  height: 50px;
  width: 50px;
}

.content {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.info {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

p {
  padding-bottom: 0.5rem;
}

.location-image {
  width: 125px;
  height: 240px;
  border-radius: 10px;
}
